/* ---------- Spacing ------------ */

@for $i from 0 through 30 {
  .m-#{$i} {
    margin: #{$i * 0.5}rem !important;
  }

  .mt-#{$i} {
    margin-top: #{$i * 0.5}rem !important;
  }

  .mb-#{$i} {
    margin-bottom: #{$i * 0.5}rem !important;
  }

  .ml-#{$i} {
    margin-left: #{$i * 0.5}rem !important;
  }

  .ml-n#{$i} {
    margin-left: -#{$i * 0.5}rem !important;
  }

  .mr-#{$i} {
    margin-right: #{$i * 0.5}rem !important;
  }

  .mx-#{$i} {
    margin-left: #{$i * 0.5}rem !important;
    margin-right: #{$i * 0.5}rem !important;
  }

  .my-#{$i} {
    margin-top: #{$i * 0.5}rem !important;
    margin-bottom: #{$i * 0.5}rem !important;
  }

  .p-#{$i} {
    padding: #{$i * 0.5}rem !important;
  }

  .pl-#{$i} {
    padding-left: #{$i * 0.5}rem !important;
  }

  .pr-#{$i} {
    padding-right: #{$i * 0.5}rem !important;
  }

  .pt-#{$i} {
    padding-top: #{$i * 0.5}rem !important;
  }

  .pb-#{$i} {
    padding-bottom: #{$i * 0.5}rem !important;
  }

  .px-#{$i} {
    padding-right: #{$i * 0.5}rem !important;
    padding-left: #{$i * 0.5}rem !important;
  }

  .py-#{$i} {
    padding-top: #{$i * 0.5}rem !important;
    padding-bottom: #{$i * 0.5}rem !important;
  }
}

.p-0 {
  padding: 0 !important;
}

.m-0 {
  margin: 0 !important;
}

.mt-auto {
  margin-top: auto !important;
}
.ml-auto {
  margin-left: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
