$primary: #6610f5;
$secondary: #7000ff1e;
$bg-primary: #f6f6f6;
$bg-light: #fff;
$bg-gray: #e5e5e5;
$text-gray: #696969;
$text-white: #fff;
$dark: #000;
$black: #1e1e1e;
$white: #ffffff;
$text-error: #fe346e;
$rounded-sm: 8px;
$rounded-custom: 14px;
$rounded-md: 16px;
$rounded-lg: 20px;
$input-width-md: 350px;
$input-width-sm: 310px;
$subtitleColor: #565656;
$scrollbarColor: rgba(0, 0, 0, 0.3);
$scrollbarHoverColor: rgba(0, 0, 0, 0.4);

$grid-breakpoints: (
  xxs: 0,
  xs: 330px,
  sm: 540px,
  md: 720px,
  lg: 1092px,
  xl: 1280px,
  xxl: 1440px,
  xlg: 1660px,
);

$column-map: (
  sm: 2,
  md: 3,
  lg: 4,
  xl: 4,
  2xl: 4,
);
