.custom-table {
  th,
  td {
    padding-left: 0;
    padding-right: 16px;
    line-height: 140%;
    height: 52px;
    border-bottom-color: map-get($color-quaternary, 'main');
  }

  thead {
    th {
      border-top: 1px solid map-get($color-quaternary, 'main');
      background-color: transparent;
      font-weight: 700;
      color: map-get($color-common, 'black');
    }
  }

  tbody {
    font-weight: 500;
    color: map-get($color-common, 'black');

    tr {
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }

    td {
      padding-top: 8px;
      padding-bottom: 8px;
    }
  }
}
