{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "project": "./tsconfig.json",
    "warnOnUnsupportedTypeScriptVersion": false
  },
  "extends": [
    "plugin:vue/vue3-strongly-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "prettier"
  ],
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort",
    "import",
    "file-progress",
    "@stylistic",
    "eslint-plugin-vue",
    "unused-imports",
    "putout",
    "fsd-import"
  ],
  "settings": {
    "import/resolver": {
      "typescript": {
        "alwaysTryTypes": true
      }
    }
  },
  "rules": {
    "no-prototype-builtins": 0,
    "object-property-newline": "error",
    "object-curly-newline": [
      2, {
        "ObjectExpression": "always",
        "ObjectPattern": { "multiline": true },
        "ImportDeclaration": { "multiline": true, "minProperties": 3 },
        "ExportDeclaration": { "multiline": true, "minProperties": 3 }
      }
    ],
    "no-empty": [
      2,
      {
        "allowEmptyCatch": true
      }
    ],
    "no-duplicate-imports": 2,
    "prefer-const": [
      2,
      {
        "destructuring": "all"
      }
    ],
    "object-curly-spacing": [ 2, "always" ],
    "array-bracket-spacing": [ 2, "always" ],
    "no-multi-spaces": 2,
    "max-len": [
      2,
      {
        "code": 121,
        "ignorePattern": "import\\s*(type)?\\s.*\\s*from\\s*.*';|.*\\s*from\\s*.*';|^export\\s|d=\"([\\s\\S]*?)\"|\\s*component:\\s\\(\\)\\s=>\\simport\\(.*\\)",
        "ignoreRegExpLiterals": true
      }
    ],
    "max-lines": [ 2, 300 ],
    "max-nested-callbacks": [ 2, 3 ],
    "max-statements": [ 2, 40 ],
    "max-lines-per-function": [ 2, 250 ],
    "max-depth": [ 2, 3 ],
    "max-params": [ 2, 5 ],
    "complexity": [ 2, 12 ],
    "quotes": [ 2, "single" ],
    "dot-notation": 2,
    "no-nested-ternary": 2,
    "no-console": [
      2,
      {
        "allow": [ "warn", "error" ]
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "patterns":
        ["../../../"]
      }
    ],
    "prefer-destructuring": [
      2,
      {
        "VariableDeclarator": {
          "array": true,
          "object": true
        },
        "AssignmentExpression": {
          "array": true,
          "object": false
        }
      },
      {
        "enforceForRenamedProperties": false
      }
    ],

    "putout/multiple-properties-destructuring": "error",

    "file-progress/activate": [ 2, 1 ],

    "fsd-import/fsd-relative-path": "error",
    "fsd-import/public-api-imports": "error",
    "fsd-import/layer-imports": "error",

    "simple-import-sort/imports": [
      2,
      {
        "groups": [
          [
            "^vue",
            "^@?\\w/?\\w",
            "^@?/shared/\\w",
            "^@?/entities/\\w",
            "^@?/features/\\w",
            "^@?/widgets/\\w",
            "^@?/pages/\\w",
            "^@?/app/\\w",
            "^@?/projects/\\w",
            "^[./]+/shared/\\w",
            "^[./]+/entities/\\w",
            "^[./]+/features/\\w",
            "^[./]+/widgets/\\w",
            "^[./]+/pages/\\w",
            "^[./]+/app/\\w",
            "^[./]+/projects/\\w",
            "^"
          ]
        ]
      }
    ],
    "simple-import-sort/exports": 2,

    "import/first": 2,
    "import/newline-after-import": 2,

    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      2,
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "after-used",
        "argsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],

    "@typescript-eslint/ban-types": 0,
    "@typescript-eslint/no-non-null-asserted-optional-chain": 0,
    "@typescript-eslint/no-unused-vars": 0,

    "vue/mustache-interpolation-spacing": ["error", "always"],
    "vue/multi-word-component-names": 0,
    "vue/no-unused-vars": [
      2,
      {
        "ignorePattern": "^_"
      }
    ],
    "vue/html-closing-bracket-spacing": 2,
    "vue/html-closing-bracket-newline": 2,
    "vue/html-indent": 2,
    "vue/html-quotes": [
      2,
      "double"
    ],
    "vue/attributes-order": [
      2,
      {
        "order": [
          "LIST_RENDERING",
          "CONDITIONALS",
          "RENDER_MODIFIERS",
          "DEFINITION",
          "CONTENT",
          "TWO_WAY_BINDING",
          "OTHER_DIRECTIVES",
          "SLOT",
          "UNIQUE",
          "GLOBAL",
          "ATTR_STATIC",
          "ATTR_SHORTHAND_BOOL",
          "ATTR_DYNAMIC",
          "EVENTS"
        ],
        "alphabetical": false
      }
    ],
    "vue/component-tags-order": [
      2,
      {
        "order": [
          [ "script", "template", "style" ]
        ]
      }
    ],
    "vue/block-tag-newline": 2,
    "vue/padding-line-between-tags": [
      "error",
      [
        {
          "blankLine": "always",
          "prev": "*",
          "next": "*"
        }
      ]
    ],
    "vue/max-attributes-per-line": [
      2,
      {
        "singleline": {
          "max": 1
        }
      }
    ],
    "vue/component-api-style": [
      2,
      [ "script-setup" ]
    ],
    "vue/array-bracket-spacing": [2, "always"],
    "vue/html-self-closing": ["error", {
      "html": {
        "void": "never",
        "normal": "always",
        "component": "always"
      },
      "svg": "always",
      "math": "always"
    }],

    "@stylistic/max-statements-per-line": [
      2,
      { "max": 1 }
    ],
    "@stylistic/comma-spacing": 2,
    "@stylistic/comma-dangle": 2,
    "@stylistic/indent": [ 2, 2 ],
    "@stylistic/semi": 2,
    "@stylistic/no-extra-semi": 2,
    "@stylistic/semi-style": [ 2, "last" ],
    "@stylistic/semi-spacing": 2,
    "@stylistic/no-multiple-empty-lines": [
      2,
      { "max": 1 }
    ],
    "@stylistic/lines-between-class-members": [ 2, "always" ],
    "@stylistic/no-trailing-spaces": 2,
    "@stylistic/keyword-spacing": 2,
    "@stylistic/arrow-spacing": 2,
    "@stylistic/block-spacing": 2,
    "@stylistic/computed-property-spacing": 2,
    "@stylistic/generator-star-spacing": 2,
    "@stylistic/key-spacing": 2,
    "@stylistic/space-in-parens": 2,
    "@stylistic/space-infix-ops": 2,
    "@stylistic/func-call-spacing": 2,
    "@stylistic/space-before-blocks": 2,
    "@stylistic/padding-line-between-statements": [
      "error",
      //      TODO: Отвечает за new-line между переносами. (создать собственное правило?)
      //      {
      //        "blankLine": "always",
      //        "prev": "*",
      //        "next": ["export", "interface", "type"]
      //      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": ["block-like"]
      }
    ],
    "@stylistic/member-delimiter-style": [2, {
      "multilineDetection": "brackets",
      "multiline": {
        "delimiter": "none",
        "requireLast": false
      }
    }]
  }
}
